<!-- page used for selecting a course to add -->

{% extends 'administration/base.html' %}

{% block content %}

<div class="container">
  <div class="page-header text-center">
    <h4>Add Course</h4>
  </div>
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <form class="mb-3">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="padding-right: 2.2em;" id="inputGroup-sizing-default-1">Department ID</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-1">
                  </div>
                   <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="padding-right: 1.8em;" id="inputGroup-sizing-default-2">Course Number</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-2">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="courseinputGroupSelect01">Course Availability</label>
                    </div>
                    <select class="custom-select" id="courseinputGroupSelect-1">
                      <option disabled selected>-- select an option --</option>
                      <option value="1">Fall/Spring</option>
                      <option value="2">Fall</option>
                      <option value="3">Spring</option>
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="padding-right: 3.3em;" id="inputGroup-sizing-default-4">Prerequisites</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-4">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="padding-right: 3.5em;" id="inputGroup-sizing-default-5">Corequisites</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-5">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="padding-right: 6.4em;" id="inputGroup-sizing-default-6">Hours</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-6">
                  </div>
                  <button type="button" class="btn btn-outline-success btn-block">Add Course</button>
                </form>
            </div>
    </div>
    <div class="row">
      <!-- where results can go -->
    </div>
</div>

{% endblock %}