<!-- page used for selecting a course to edit -->

{% extends 'administration/home.html' %}

{% block content %}

<div class="container">
  <div class="page-header text-center">
    <h4>Edit Course</h4>
  </div>
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
            <div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Course Name</span>
                </div>
                <input id="edit-course-search-input" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
              <button id="edit-course-search-btn" type="button" class="btn btn-outline-success btn-block">Search Course</button>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <div id="edit-course-alert" class="alert mt-2 d-none text-center" role="alert"></div>
            <div id="edit-course-form" class="mb-3 d-none">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding-right: 2.2em;" id="inputGroup-sizing-default-1">Department ID</span>
                </div>
                <input id="edit-course-deparment-id" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-1">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding-right: 1.8em;" id="inputGroup-sizing-default-2">Course Number</span>
                </div>
                <input id="edit-course-number" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-2">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding-right: 2.9em;" id="inputGroup-sizing-default-2">Course Name</span>
                </div>
                <input id="edit-course-name" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-2">
              </div>
              
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="courseinputGroupSelect01">Course Availability</label>
                </div>
                 <div class=" form-control">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input ml-2" type="radio" name="inlineRadioOptions" id="radio-spring" value="Spring">
                    <label class="form-check-label" style="color: #495057;" for="inlineRadio1">Spring</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio-fall" value="Fall">
                    <label class="form-check-label" style="color: #495057;" for="inlineRadio2">Fall</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio-both" value="Both">
                    <label class="form-check-label" style="color: #495057;" for="inlineRadio3">Both</label>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding-right: 6.4em;" id="inputGroup-sizing-default-6">Hours</span>
                </div>
                <input id="edit-course-hours" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-6">
              </div>


              <div id="course-requirements">
                <h4 class="text-center text-light pt-1 pb-1 mt-2" style="background-color: green;">Prerequisites</h4>
                <div id="course-prerequisites"></div>
                <button id="add-course-prerequisite" type="button" class="btn btn-outline-success btn-block mb-2">Add Prerequisite</button>

                <h4 class="text-center text-light pt-1 pb-1 mt-2" style="background-color: green;">Corequisites</h4>
                <div id="course-corequisites"></div>
                <button id="add-course-corequisites" type="button" class="btn btn-outline-success btn-block mb-2">Add Corequisites</button>
              </div>


              <h4 class="text-center text-light pt-1 pb-1 mt-2" style="background-color: green;">Degree Specific Requirements</h4>
              <div id="add-course-degree-spec-reqs"></div>
              <button id="add-course-degree-spec-req" type="button" class="btn btn-outline-success btn-block mb-2">Add Degree Specific Requirement</button>


              <input id="edit-course-id" type="text" class="d-none">
              <button id="edit-course-update-btn" type="button" class="btn btn-outline-success btn-block">Update Course</button>
              <div id="edit-course-update-alert" class="alert mt-2 d-none text-center" role="alert"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}