<!DOCTYPE html>
<!-- 
    This html document is the root of the application. All other
    html files inherit this document. However, we will only have
    a single page.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- Bootstrap css -->
        <link rel="shortcut icon" type="image/png" href="{{static('img/favicon-new.png')}}"> <!-- favicon -->
        <title>UNT Degree Planning Service</title>
        <link rel="stylesheet" href="{{static ('CSS/style.css')}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script src="{{static ('js/jsScripts.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.10/jquery.autocomplete.min.js"></script>
        <script src="{{static ('js/student/session.js') }}"></script> <!--Might need to change later to not directly be called here-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- icons -->

    </head>
    <body style="background-image: url({{static('img/background.png')}});">
        <div id="no-js-banner" class="alert alert-danger text-center" role="alert">
          Please enable JavaScript in order to use this site.
        </div>

        {% include 'navbar.html' %}
        <div class="container">
            {% block content %}
            We can still put stuff here

            {% endblock %}
        </div>
        {% include 'footer.html' %}

        <!-- Modal -->
        <div class="modal fade" id="modalDisclaimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Site Disclaimer</h5>
              </div>
              <div class="modal-body">
                <h6>This website is for planning purposes only. Please consult your advisor for accuracy.<br><span class="ml-5">Thank you! - Team CacheHerd</span></h6>
                <br>
                <h6>Our Site Uses Cookies</h6>
                <h6>We use cookies and similar technologies to recognize your repeat visits and preferences.</h6>
              </div>
              <div class="modal-footer">
                <button id="modalDisclaimerAccept" type="button" class="btn btn-success btn-block text-light" style="background-color: #28a745">I Accept</button>
              </div>
            </div>
          </div>
        </div>

    </body>
</html>