{% extends 'base.html' %}
<!--Project Credit Page: Links can be add or updated as needed.-->
{% block content %}

<div class="container">
  <div class="page-header text-center">
    <h4>Project Credits</h4>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div>
       <li class="list-group-item list-group-item-success" style="font-size: 19px; background-color:rgba(85,198,87,.6);" >CacheHerd Capstone 2020 Project Contributors</li>
        <p class="list-group-item list-group-item-action">Ricardo Barroso</p>
        <p class="list-group-item list-group-item-action">Sweta Gautam</p>
        <p class="list-group-item list-group-item-action">Stephen Ho</p>
        <p class="list-group-item list-group-item-action">Dalton Kerbow</p>
        <p class="list-group-item list-group-item-action">Aazrim Mirza</p>
        <p class="list-group-item list-group-item-action">Tate Mosier</p>
        <p class="list-group-item list-group-item-action">Travis Nguyen</p>
        <p class="list-group-item list-group-item-action">Kabonzo Ramanzani</p>
        <p class="list-group-item list-group-item-action">Ngan Tran</p>
        <p class="list-group-item list-group-item-action">Nicole Tran</p>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <li class="list-group-item list-group-item-success" style="font-size: 19px; background-color:rgba(85,198,87,.6);" >Sponsor</li>
        <p class="list-group-item list-group-item-action">Dr. Nandika D'Souza</p>
        <li class="list-group-item list-group-item-success" style="font-size: 19px; background-color:rgba(85,198,87,.6);" >Academic Coach</li>
        <p class="list-group-item list-group-item-action">Dr. Stephanie Ludi</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}