{% extends 'base.html' %}
<!--Project Credit Page: Links can be add or updated as needed.-->
{% block content %}

<div class="container">
  <div class="page-header text-center">
    <h4>Project Credits</h4>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div>
       <li class="list-group-item list-group-item-success" style="font-size: 19px; background-color:rgba(85,198,87,.6);" >CacheHerd Capstone 2020 Project Contributors</li>
        <p class="list-group-item list-group-item-action"><a href="https://www.linkedin.com/in/ricardo-barroso-838a27172/" target="_blank">Ricardo Barroso</a></p>
        <p class="list-group-item list-group-item-action"><a href="swetagau18@gmail.com/" target="_blank">Sweta Gautam</a></p>
        <p class="list-group-item list-group-item-action"><a href="https://www.linkedin.com/in/stephen-ho-a31766112/" target="_blank">Stephen Ho</a></p>
        <p class="list-group-item list-group-item-action"><a href="https://www.linkedin.com/in/dalton-kerbow-70b240197/" target="_blank">Dalton Kerbow</a></p>
        <p class="list-group-item list-group-item-action"><a href="https://www.linkedin.com/in/aazrimmirza/" target="_blank">Aazrim Mirza</a></p>
        <p class="list-group-item list-group-item-action"><a href="https://www.linkedin.com/in/tate-mosier/" target="_blank">Tate Mosier</a></p>
        <p class="list-group-item list-group-item-action"><a href="https://www.linkedin.com/in/travis-nguyen/" target="_blank">Travis Nguyen</a></p>
        <p class="list-group-item list-group-item-action"><a href="https://www.linkedin.com/in/kabonzo-ramazani-59547818/" target="_blank">Kabonzo Ramanzani</a></p>
        <p class="list-group-item list-group-item-action"><a href="https://www.linkedin.com/in/ngan-tran-307a33112/" target="_blank">Ngan Tran</a></p>
        <p class="list-group-item list-group-item-action"><a href="https://www.linkedin.com/in/nicole-t-90629a74/" target="_blank">Nicole Tran</a></p>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <li class="list-group-item list-group-item-success" style="font-size: 19px; background-color:rgba(85,198,87,.6);" >Sponsor</li>
        <p class="list-group-item list-group-item-action">Dr. Nandika D'Souza</p> 
        <li class="list-group-item list-group-item-success" style="font-size: 19px; background-color:rgba(85,198,87,.6);" >Academic Coach</li>
        <p class="list-group-item list-group-item-action">Dr. Stephanie Ludi</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}