
<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light"> <!-- Logo -->

	<ul class="nav">
		<li class="navbar-logo">
			<a class="navbar-brand" href="/">
		  		<img class="logo-img" src="{{static('img/logo-new.png')}}">
		 	</a>
	 	</li>
 	</ul>

 	<ul>
	 	<li class = "nav-title">
	 		UNT Degree Planning Service
	 	</li>
 	</ul>


 	<ul class="navbar-nav ml-auto">
	 {% if request.user.is_authenticated %}
		 {% if request.user.is_superuser %}
		 	<li class="menu-item"><a class="btn btn-outline-success" href="/administration/" role="button">Administration</a></li>
		 	<li class="menu-item"><a class="btn btn-outline-success" href="{{ url('logout') }} " role="button">Logout</a></li>
		 {% else %}
		 	<li class="menu-item"><a class="btn btn-outline-success" href="{{ url('logout') }} " role="button">Logout</a></li>
		 {% endif %}
 	{%else%}
 		<li class="menu-item"><a class="btn btn-outline-success" href="{{ url('login') }} " role="button">Login</a></li>
 		<!-- <li class="menu-item"><button type="button" class= "btn btn-link"><a href="{{ url('signup') }} ">Sign Up</a></button></li> -->
 	{%endif%}
 	</ul>


 </div>


</nav>

<!--Start menu -->
{% if request.user.is_superuser %}
	<br>
	<nav>
    	<ul class="nav justify-content-center">
			<li class="menu-item dropdown">
		      <a class="btn btn-outline-success dropdown-toggle" href="#" data-toggle="dropdown" role="button">Session</a>
		      <div class="dropdown-menu">
		        <a class="dropdown-item session-create_lnk" href="/session/create/">Create</a>
		        <a class="dropdown-item session-edit_lnk" href="/session/edit/">Edit</a>
		        <a class="dropdown-item session-login_lnk" href="/session/login/">Login</a>
		        <a class="dropdown-item session-logout_lnk" href="#">Logout</a>
		      </div>
		    </li>
        	<li class="menu-item d-none"><a class="btn btn-outline-success" href="{{ url('degrees') }} " role="button">Select a Degree</a></li>
        	<li class="menu-item session-view-degree_lnk"><a class="btn btn-outline-success" href="{{ url('degreePlan') }}" role="button">View Degree Plan</a></li>
        	<li class="menu-item session-view-timeline_lnk"><a class="btn btn-outline-success" href="{{ url ('timeline') }}" role="button">View Timeline</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" href="{{url ('transferCreditList')}}" role="button">View Transfer Credits</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" href="{{url ('resources')}}" role="button">Resources</a></li>
        	<!-- no longer needed, admin section elsewhere -->
        	<!-- <li class="menu-item"><a class="btn btn-outline-success" href="{{url ('addDegree')}}" role="button">Add a Degree</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" href="{{url ('editDegree')}}" role="button">Edit a Degree</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" href="{{url ('addTransferCredit')}}" role="button">Add a Transfer Credit</a></li> -->
		</ul>
	</nav>
	<br>
<!--Start menu -->
{% else %}
	<br>
	<nav>
    	<ul class="nav justify-content-center">
			<li class="menu-item dropdown">
		      <a class="btn btn-outline-success dropdown-toggle" href="#" data-toggle="dropdown" role="button">Session</a>
		      <div class="dropdown-menu">
		        <a class="dropdown-item session-create_lnk" href="/session/create/">Create</a>
		        <a class="dropdown-item session-edit_lnk" href="/session/edit/">Edit</a>
		        <a class="dropdown-item session-login_lnk" href="/session/login/">Login</a>
		        <a class="dropdown-item session-logout_lnk" href="#">Logout</a>
		      </div>
		    </li>
        	<li class="menu-item d-none"><a class="btn btn-outline-success" href="{{ url('degrees') }} " role="button">Select a Degree</a></li>
        	<li class="menu-item session-view-degree_lnk"><a class="btn btn-outline-success" href="{{ url('degreePlan') }}" role="button">View Degree Plan</a></li>
        	<li class="menu-item session-view-timeline_lnk"><a class="btn btn-outline-success" href="{{ url ('timeline') }}" role="button">View Timeline</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" href="{{url ('transferCreditList')}}" role="button">View Transfer Credits</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" href="{{url ('resources')}}" role="button">Resources</a></li>
    	</ul>
	</nav>
	<br>
<!--End Menu -->
{% endif %}