
<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light"> <!-- Logo -->

	<ul class="nav">
		<li class="navbar-logo">
			<a class="navbar-brand" href="/">
		  		<img class="logo-img" src="{{static('img/logo-new.png')}}">
		 	</a>
	 	</li>
 	</ul>

 	<ul>
	 	<li class = "nav-title">
	 		UNT Degree Planning Service
	 	</li>
 	</ul>

	<!--Navbar displayed in the upper right corner. Should be used by administrators only.-->
 	<ul class="navbar-nav ml-auto">
	 {% if request.user.is_authenticated %}<!--If conditional: Checks if the user is currently logged in-->
		 {% if request.user.is_superuser %}<!--If conditional: Checks if the user is logged in as a superuser-->
		 	<li class="menu-item"><a class="btn btn-outline-success" href="/administration/" role="button">Administration</a></li> <!-- On click will take a superuser to the administration homepage-->
		 	<li class="menu-item"><a class="btn btn-outline-success" href="{{ url('logout') }} " role="button">Logout</a></li> <!--On click will sign out the current user-->
		 {% else %} <!--Else Conditional: In the case that the user is not signed in as a superuser-->
		 	<li class="menu-item"><a class="btn btn-outline-success" href="{{ url('logout') }} " role="button">Logout</a></li><!--On click will sign out the current user-->
		 {% endif %}
 	{%else%} <!--Else Conditional: In the case that the user is currently not logged in-->
 		<li class="menu-item"><a class="btn btn-outline-success" href="{{ url('login') }} " role="button">Administration Login</a></li><!--On click will an admin to sign in with the credentials they were provided-->
 	{%endif%}
 	</ul>


 </div>


</nav>

<!--Student Navigation Bar for Superusers-->
{% if request.user.is_superuser %}
	<br>
	<nav>
    	<ul class="nav justify-content-center">
			<li class="menu-item dropdown">
		      <a class="btn btn-outline-success dropdown-toggle" href="#" data-toggle="dropdown" role="button">Session</a>
		      <div class="dropdown-menu">
		        <a class="dropdown-item session-create_lnk" href="/session/create/">Create</a>
		        <a class="dropdown-item session-edit_lnk" href="/session/edit/">Edit</a>
		        <a class="dropdown-item session-login_lnk" href="/session/login/">Login</a>
		        <a class="dropdown-item session-logout_lnk" href="#">Logout</a>
		      </div>
		    </li>
        	<li class="menu-item d-none"><a class="btn btn-outline-success" href="{{ url('degrees') }} " role="button">Select a Degree</a></li>
        	<li class="menu-item session-view-degree_lnk"><a class="btn btn-outline-success" href="/session/view/degree-plan/" role="button">View Degree Plan</a></li>
        	<li class="menu-item session-view-timeline_lnk"><a class="btn btn-outline-success" href="/session/view/transcript/" role="button">View Degree Path</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" target="_blank" href="https://registrar.unt.edu/transfer-guides" role="button">View Transfer Guides</a></li>
			<li class="menu-item"><a class="btn btn-outline-success" href="{{url ('resources')}}" role="button">Resources</a></li>
			<li class="menu-item"><a class="btn btn-outline-success" role="button">Tutorials</a></li>
		</ul>
	</nav>
	<br>
<!--Student Navigation Bar for regular users -->
{% else %}
	<br>
	<nav>
    	<ul class="nav justify-content-center">
			<li class="menu-item dropdown">
		      <a class="btn btn-outline-success dropdown-toggle" href="#" data-toggle="dropdown" role="button">Session</a>
		      <div class="dropdown-menu">
		        <a class="dropdown-item session-create_lnk" href="/session/create/">Create</a>
		        <a class="dropdown-item session-edit_lnk" href="/session/edit/">Edit</a>
		        <a class="dropdown-item session-login_lnk" href="/session/login/">Login</a>
		        <a class="dropdown-item session-logout_lnk" href="#">Logout</a>
		      </div>
		    </li>
        	<li class="menu-item d-none"><a class="btn btn-outline-success" href="{{ url('degrees') }} " role="button">Select a Degree</a></li>
        	<li class="menu-item session-view-degree_lnk"><a class="btn btn-outline-success" href="/session/view/degree-plan/" role="button">View Degree Plan</a></li>
        	<li class="menu-item session-view-timeline_lnk"><a class="btn btn-outline-success" href="/session/view/transcript/" role="button">View Degree Path</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" target="_blank" href="https://registrar.unt.edu/transfer-guides" role="button">View Transfer Guides</a></li>
			<li class="menu-item"><a class="btn btn-outline-success" href="{{url ('resources')}}" role="button">Resources</a></li>
			<li class="menu-item"><a class="btn btn-outline-success" role="button">Tutorials</a></li>
    	</ul>
	</nav>
	<br>
<!--End Menu -->
{% endif %}