<!-- page used for selecting a resource to view -->

{% extends 'administration/base.html' %}

{% block content %}

<div class="container">
  <div class="page-header text-center">
    <h4>View Resource</h4>
  </div>
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <form>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Resource Name</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <button type="button" class="btn btn-outline-success btn-block">Search Resource</button>
                </form>
            </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <section class="block block-menu block-menu-menu-campus-resources clearfix">
          <h2 class="title block-title">Campus Resources</h2>
          <ul class="menu"><li class="first leaf"><a href="https://learningcenter.unt.edu/resources-academic" title="">Academic Resources</a></li>
          <li class="leaf active-trail"><a href="https://learningcenter.unt.edu/resources-advising" title="" class="active-trail active">Advising Offices</a></li>
          <li class="leaf"><a href="https://learningcenter.unt.edu/resources-campuslifefood" title="">Campus Life, Dining, Food</a></li>
          <li class="leaf"><a href="https://learningcenter.unt.edu/campus-resources-employers-employees-financial" title="">Employers, Employees, Financial</a></li>
          <li class="leaf"><a href="https://learningcenter.unt.edu/resources-general-health" title="">General Info, Health, Wellness</a></li>
          <li class="leaf"><a href="https://learningcenter.unt.edu/resources-legal-and-safety" title="">Legal, Safety</a></li>
          <li class="leaf"><a href="https://learningcenter.unt.edu/campus-resources-professional-development" title="">Professional Development</a></li>
          <li class="leaf"><a href="https://learningcenter.unt.edu/campus-resources-research-printing-and-it" title="">Research, Printing and IT</a></li>
          <li class="leaf"><a href="https://learningcenter.unt.edu/campus-resources-student-life" title="">Student Life</a></li>
          <li class="last leaf"><a href="https://learningcenter.unt.edu/resources-tutoring" title="">Tutoring</a></li>
          </ul>  
        </section>
        <ul class="list-group">
          <li class="list-group-item active">Campus Resources</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>



      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}