<!DOCTYPE html>
<!-- 
    This html document is the root of the application. All other
    html files inherit this document. However, we will only have
    a single page.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- Bootstrap css -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <link rel="shortcut icon" type="image/png" href="{{static('img/favicon-new.png')}}"> <!-- favicon -->
        <title>CSCE 4901 CacheHerd UNT Degree Plan</title>
        <link rel="stylesheet" href="{{static ('CSS/style.css')}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.10/jquery.autocomplete.min.js"></script>
        <script src="{{static ('js/jsScripts.js') }}"></script>
        <script src="{{static ('js/administration/degree-plans.js') }}"></script>
        <script src="{{static ('js/administration/courses.js') }}"></script>
        <script src="{{static ('js/administration/resources.js') }}"></script>
    </head>
    <body style="background-image: url({{static('img/background.png')}});">

        {% include 'administration/navbar.html' %}
        <div class="container">

            {% block content %}
            <!-- We can still put stuff here -->
         <!--  lass="list-group-item list-group-item-success" style="font-size: 19px; background-color:rgba(85,198,87,.6);" >Advising Resources</li>
            <p>This text is normal.</p> -->


            <div id="mobile-view" class="d-none">
                <img style="-webkit-user-select: none;max-width: 100%;margin: auto;" src="https://www.unt.edu/sites/default/files/bluebonnets_mobile.png">
            </div>
            
            <div id="myCarousel" class="carousel slide d-none" data-ride="carousel">
              
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <video id="myVideo" autoplay muted loop width="1100" height="600">
                    <source src="https://www.unt.edu/sites/default/files/bluebonnets.mp4" type="video/mp4">
                  </video>
                  <div class="carousel-caption d-md-block" style="bottom: 70%">
                    <h2>UNT Degree Planning Administration Service<h2>
                  </div>
                </div>
              </div>

            </div>

            <script type="text/javascript">
                $(document).ready(function() {
                    if(!checkIfMobileDevice()){
                        var width = $(document).width();
                        var height = $(document).height();
                        var top = $("#myCarousel").offset().top;
                        var left = $("#myCarousel").offset().left;
                        $("#myCarousel").removeClass("d-none");

                        $("#myCarousel").css("width", width);
                        $("#myVideo").css("width", width);

                        $("#myVideo").css("height", height - 306);

                        $("#myCarousel").offset({ top: top +225, left: left });
                        $("#myVideo").offset({ top: top +225, left: left });
                    } else {
                        $("#mobile-view").removeClass("d-none");
                    }
                    
                });
            </script>

            {% endblock %}
        </div>
    </body>
    {% include 'administration/footer.html' %}
</html>