{% extends 'administration/home.html' %}

{% block content %}

    <div id="hero-feature" class="hero-video standard bottom">
        <div class="hero-wrapper">
            <video muted="" loop="" autoplay="" poster="{{static('img/bluebonnets_xl.png')}}" id="herovid">
                <source data-mp4="{{static('vid/bluebonnets.mp4')}}" type="video/mp4" src="{{static('vid/bluebonnets.mp4')}}">
            </video>

            <div class="overlay">
                <div class="content col large-12 mid-center text-center">
                    <h2 class="hero-title">UNT Degree Planning Service Administration</h2>
                    <h4 class="hero-message">To start please select an option in the navigation bar above.</h4>
                </div>
            </div>

        </div>
    </div>

{% endblock %}