<!DOCTYPE html>
<!-- 
    This html document is the root of the application. All other
    html files inherit this document. However, we will only have
    a single page.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- Bootstrap css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- icons -->
        <link rel="shortcut icon" type="image/png" href="{{static('img/favicon-new.png')}}"> <!-- favicon -->
        <title>CSCE 4901 CacheHerd UNT Degree Plan</title>
        <link rel="stylesheet" href="{{static ('CSS/style.css')}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.10/jquery.autocomplete.min.js"></script>
        <script src="{{static ('js/jsScripts.js') }}"></script>
        <script src="{{static ('js/administration/courses.js') }}"></script>
        <script src="{{static ('js/administration/degree-plans.js') }}"></script>
        <script src="{{static ('js/administration/resources.js') }}"></script>
    </head>
    <body style="background-image: url({{static('img/background.png')}});">

        {% include 'administration/navbar.html' %}

        <div class="container">

            {% block content %}
            <!-- We can still put stuff here -->
            {% endblock %}
        </div>
        
    </body>
</html>