navbar-brand {
	background-color: #009933;
}
navbar-nav {
	display:inline-block;
}
nav li {display:inline-block;}

.course-col {
	position: relative;	
	flex: 0 0 50%;
	max-width: 50%;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.nav-title{
	font-size: 32px;

}

.checkboxStyle {
	float: left;
	position: absolute;
	left: 2em;
}

.displayCourseInfo {
	display: inline;
	white-space: pre-wrap;
}

.courseAmp {
	padding-left: 4em;
}

.courseAmp:hover {
	background-color: #d3d3d3;
}

.starLabel {
	padding-left: 2em;
}

.starLabelAmp {
	padding-left: 4em;
}

.courseName {
	padding-left: 2em;
}

.courseNameHighlight {
	background-color: rgba(85,198,87,.6)
}

.courseName:hover {
	background-color: #d3d3d3;
}

.navbar-light{

	background: rgba(85,198,87,.6);
}

.floatBtn {
	color: white;
	font-weight: bold;
	position: fixed;
	bottom: 45px;
	right: 45px;
	height: 10%;
	width: 10%;
	background: rgba(85,198,87,1.0);
	border-color: rgba(85,198,87,1.0);
	border-radius: 12px;
}

.floatBtn:hover {
	background-color: rgba(5,144,51,1.0)
}

body{
	width: 100%;
	
}
.btn-outline-success:active:focus{
background-color: rgba(85,198,87,.6); 
}
.btn-outline-success:hover, 
.btn-outline-success:focus, 
.btn-outline-success:active, 
.btn-outline-success.active,
.btn-outline-success, 
.open .dropdown-toggle.btn-success {
	border-color: rgba(85,198,87,.6);
	margin-right: 5px
} 

.btn-success
{
	background-color: rgba(85,198,87,1);
}
.timeline-course{
	list-style-type:circle;
	margin-left: 8px;
}

.semester{
	font-size:18px;

}

.checkboxPadding{
	padding-left: 2em;
}

.select2-container .select2-selection--single{
    height:34px !important;
}

.select2-container--default .select2-selection--single{
	border: 1px solid #ccc !important; 
    border-radius: 0px !important;
}

.logo-img {
	height: 75%;
	width: 75%;
}

.video-fluid {
margin: 0 auto;
right: 0;
left: 0;
position: absolute;
}

.content{
 position:absolute;
 top:42%;
 left:50%;
 transform: translate(-50%, -50%);
 z-index:1;
 color:white;
 font-size:58px;
 font-family:"Times New Roman", Times, serif;

}

#hero-feature.hero-video.standard {
	height: 60vh;
	max-height: 60vh;
}

#hero-feature.hero-video {
	position: relative;
	display: inline-block;
	width: 100%;
}

#hero-feature.hero-video .hero-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#hero-feature.hero-video.bottom #herovid {
	object-position: bottom;
}

#hero-feature.hero-video #herovid {
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: 0;
	background: #000 center center no-repeat;
	background-size: cover;
	object-fit: cover;
	object-position: bottom;
}

video {
	display: inline-block;
	vertical-align: baseline;
}

#hero-feature.hero-video .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #fff;
}

.hero-title {
	margin-top: 0;
	color: #fff;
	text-shadow: 0 0 5px #111111;
	font-size: 46px;
	font-weight: 700;
}

.hero-message {
	color: #fff;
	text-shadow: 0 0 5px #111111;
	font-size: 24px;
	font-weight: 700;
}


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

/*Credit: https://stackoverflow.com/users/147601/nick-heiner
		  https://stackoverflow.com/users/473625/bentoncoding 
*/
/* Sticky footer styles -------------------------------------- */
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }

footer{ 
  position:absolute;
  bottom:0; 
  width:100%; 
  background: rgba(85,198,87,.6);
  text-align: center;
}

footer a {
	color: #495057;
	text-decoration: none;
}

.list-group-item {
	padding: .60rem 1.25rem !important;
}
