{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="page-header text-center">
      <h4 id="edit-session-title">Edit Session</h4>
    </div>
      <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-6">
              <div id="edit-session-form" class="mb-3 d-nont">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="padding-right: 4.95em;" type="text" id="inputGroup-sizing-default-1">Unique ID</span>
                  </div>
                  <input id="edit-session-id" type="text" class="form-control" readonly="" aria-label="Default" aria-describedby="inputGroup-sizing-default-1">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="padding-right: 4.836em;" id="inputGroup-sizing-default-2">Pin Number</span>
                  </div>
                  <input id="edit-session-pin" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-2" maxlength="4">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="padding-right: 2.9em;" id="inputGroup-sizing-default-2">Selected Degree</span>
                  </div>
                  <input id="search-degree" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-2" autocomplete="off">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="semesterEntry">Plan Start Semester</label>
                  </div>
                   <div class=" form-control">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input ml-2" type="radio" name="inlineRadioOptions2" id="radio-spring" value="Spring">
                      <label class="form-check-label" style="color: #495057;" for="inlineRadio1">Spring</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="radio-fall" value="Fall">
                      <label class="form-check-label" style="color: #495057;" for="inlineRadio2">Fall</label>
                    </div>
                  </div>
                </div>
                <h4 class="text-center text-light pt-1 pb-1" style="background-color: green;">Completed Courses</h4>
                <div id="completed-courses"></div>
  
                <button id="add-course-btn" type="button" class="ml-5 btn btn-outline-success">Add Course</button>

                <button id="session-update-btn" type="button" class="btn btn-outline-success btn-block mt-3">Update Session</button>
                <div id="edit-session-update-alert" class="alert mt-2 mb-2 d-none text-center" role="alert"></div>
              </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}