{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="page-header text-center">
      <h4>Session Login</h4>
    </div>
      <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-6">
              <div id="login-session-form" class="mb-3">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="padding-right: 2.54em;" type="text" id="inputGroup-sizing-default-1">Unique ID</span>
                  </div>
                  <input id="login-session-id" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-1">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="padding-right: 1.8em;" id="inputGroup-sizing-default-2">Pin Number</span>
                  </div>
                  <input id="login-session-pin" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-2" maxlength="4"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"/>
                </div>

                <button id="session-login-btn" type="button" class="btn btn-outline-success btn-block mt-3">Login</button>
                <div id="session-login-submit-alert" class="alert mt-2 d-none text-center" role="alert"></div>
              </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}