{% extends 'base.html' %}
<!--Student Resource Page: Links can be add or updated as needed.-->
{% block content %}

<div class="container">
  <div class="page-header text-center">
    <h4>UNT Resources</h4>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="Departments">
       <li class="list-group-item list-group-item-success" style="font-size: 19px; background-color:rgba(85,198,87,.6);" >Advising Resources</li>
        <a href="https://engineering.unt.edu/academics/undergraduate/advising" class="list-group-item list-group-item-action">College of Engineering</a>
        <a href="https://cob.unt.edu/students/advising/" class="list-group-item list-group-item-action">College of Buisness</a>
        <a href="https://coe.unt.edu/stuwhitedent-advising" class="list-group-item list-group-item-action">College of Education</a>
        <a href="https://hps.unt.edu/advising/" class="list-group-item list-group-item-action">College of Health and Public Services</a>
        <a href="https://ci.unt.edu/talk-to-an-advisor" class="list-group-item list-group-item-action">College of Information</a>
        <a href="https://class.unt.edu/office-student-advising" class="list-group-item list-group-item-action">College of Liberal Arts and Social Sciences</a>
        <a href="https://cmht.unt.edu/advising" class="list-group-item list-group-item-action">College of Merchandising, Hospitality, and Tourism</a>
        <a href="https://music.unt.edu/advising" class="list-group-item list-group-item-action">College of Music</a>
        <a href="https://cos.unt.edu/advising" class="list-group-item list-group-item-action">College of Science</a>
        <a href="https://art.unt.edu/current-students/academic-advising" class="list-group-item list-group-item-action">College of Visual Arts and Design</a>
        <a href="https://journalism.unt.edu/undergraduate/advising" class="list-group-item list-group-item-action">Frank W. and Sue Mayborn School of Journalism</a>
        <a href="https://honors.unt.edu/academics/advising" class="list-group-item list-group-item-action">Honors College</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="Departments">
        <li class="list-group-item list-group-item-success" style="font-size: 19px; background-color:rgba(85,198,87,.6);" >Other Resources</li>
        <a href="https://appointments.unt.edu/ramonline/" class="list-group-item list-group-item-action">Get Advised </a>
        <a href="https://registrar.unt.edu/online-degree-audit" class="list-group-item list-group-item-action">Locate your Degree Audit </a>
        <a href="https://learningcenter.unt.edu/resources-academic" class="list-group-item list-group-item-action">Academic Campus Resources </a>
        <a href="http://catalog.unt.edu/content.php?catoid=20&navoid=2106" class="list-group-item list-group-item-action">Undergraduate Catalog </a>
        <a href="https://www.tccns.org" class="list-group-item list-group-item-action">Texas Common Course Numbering System </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}