{% extends 'administration/base.html' %}

{% block content %}
<style>
  /*some custom css for padding the search dropdown*/
  .select2-container--default .select2-selection--single {
    padding-bottom: 2.2em;
  }
</style>

<div class="container">
  <div class="page-header text-center">
    <h4>Add Degree</h4>
  </div>
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="add-degree-form" class="mb-3">
              
              <!-- <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding-right: 2.2em;" id="inputGroup-sizing-default-1">College Name</span>
                </div>
                <input id="degreeaddinputGroupSelect-1" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-1">
              </div> -->

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding-right: 2.3em;" id="inputGroup-sizing-default-2">Degree Name</span>
                </div>
                <input id="degreeaddinputGroupSelect-2" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-2">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding-right: 2.9em;" id="inputGroup-sizing-default-2">Catalog Year</span>
                </div>
                <input id="degreeaddinputGroupSelect-3" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-2">
              </div>

              <!-- Example input(?): Core, University, Electrical Engineering, Free Electives -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding-right: 3.8em;" id="inputGroup-sizing-default-4">Groupings</span>
                </div>
                <input id="degreeaddinputGroupSelect-4" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-4">
              </div>

              <button id="add-degree-submit-btn" type="button" class="btn btn-outline-success btn-block">Add Base Degree</button>
              <div id="add-degree-submit-alert" class="alert mt-2 d-none text-center" role="alert"></div>
            </div>
        </div>
    </div>
    <div class="row">
      <!-- where results can go -->
    </div>
</div>

{% endblock %}