{% extends 'administration/home.html' %}

{% block content %}

<div class="container">
  <div class="page-header text-center">
    <h4>Remove Degree</h4>
  </div>
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
            <div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Degree Name</span>
                </div>
                <input id="remove-degree-search-input" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
              <button id="remove-degree-search-btn" type="button" class="btn btn-outline-success btn-block">Search Degree</button>
            </div>
        </div>
    </div>
    <!--Reval after searching for course-->
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <div id="remove-degree-alert" class="alert mt-2 d-none text-center" role="alert"></div>
            <div id="remove-degree-form" class="mb-3 d-none">

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding-right: 2.2em;" id="inputGroup-sizing-default-1">Degree Name</span>
                </div>
                <input id="remove-degree-name" type="text" readonly class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-1">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding-right: 1.8em;" id="inputGroup-sizing-default-2">College Name</span>
                </div>
                <input id="remove-college-name" type="text" readonly class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-2">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding-right: 2.9em;" id="inputGroup-sizing-default-2">Catalog Year</span>
                </div>
                <input id="remove-catalog-year" type="text" readonly class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-2">
              </div>
              
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding-right: 3.3em;" id="inputGroup-sizing-default-4">Specialization</span>
                </div>
                <input id="remove-specialization" type="text" readonly class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-4">
              </div>

              <button id="remove-degree-submit-btn" type="button" class="btn btn-outline-danger btn-block">Remove Degree</button>
              <div id="remove-degree-submit-alert" class="alert mt-2 d-none text-center" role="alert"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}