<!-- page used for selecting a degree plan to remove -->

{% extends 'administration/base.html' %}

{% block content %}

<style>
  /*some custom css for padding the search dropdown*/
  .select2-container--default .select2-selection--single {
    padding-bottom: 2.2em;
  }
</style>

<div class="container">
  <div class="page-header text-center">
    <h4>Remove Degree</h4>
  </div>
    <div class="row">
        <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" style="padding-right: 3em;" for="degreeremoveinputGroupSelect01">Select College</label>
                      </div>
                      <select class="custom-select select2" id="degreeremoveinputGroupSelect-1">
                        <option disabled selected value> -- select an option -- </option>
                        <option>College of Engineering</option>
                        <option>College of Education</option> 
                        <option>College of Health and Public Service</option> 
                        <option>College of Information</option> 
                        <option>College of Liberal Arts and Social Sciences</option> 
                      </select>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" style="padding-right: 3em;" for="degreeremoveinputGroupSelect02">Select Degree</label>
                      </div>
                      <select class="custom-select select2" id="degreeremoveinputGroupSelect-2">
                        <option disabled selected value> -- select an option -- </option>
                        <option>Computer Science</option>
                        <option>Computer Engineering</option> 
                        <option>Information Technology</option> 
                        <option>Mechanical Engineering</option> 
                        <option>Material Science</option>
                      </select>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="degreeremoveinputGroupSelect03">Select Catalog Year</label>
                      </div>
                      <select class="custom-select select2" id="degreeremoveinputGroupSelect-3">
                        <option disabled selected value> -- select an option -- </option>
                             <option>2020</option>
                             <option>2019</option> 
                             <option>2018</option> 
                             <option>2017</option> 
                             <option>2016</option>
                      </select>
                    </div>
                    <button type="button" class="btn btn-outline-success btn-block">Remove Degree</button>
                </form>
            </div>
    </div>
    <div class="row">
      <!-- where results can go -->
    </div>
</div>

{% endblock %}