<!-- page used for selecting a degree plan to view -->

{% extends 'administration/base.html' %}

{% block content %}

<style>
  /*some custom css for padding the search dropdown*/
  .select2-container--default .select2-selection--single {
    padding-bottom: 2.2em;
  }
  th, td{ padding: 7px;}
</style>

<div class="container">
  <div class="page-header text-center">
    <h4>View Degree</h4>
  </div>
    <div class="row">
        <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" style="padding-right: 3em;" for="degreeviewinputGroupSelect01">Select College</label>
                      </div>
                      <select class="custom-select select2" id="degreeviewinputGroupSelect-1">
                        <option disabled selected value> -- select an option -- </option>
                        <option>College of Engineering</option>
                        <option>College of Education</option> 
                        <option>College of Health and Public Service</option> 
                        <option>College of Information</option> 
                        <option>College of Liberal Arts and Social Sciences</option> 
                      </select>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" style="padding-right: 3em;" for="degreeviewinputGroupSelect02">Select Degree</label>
                      </div>
                      <select class="custom-select select2" id="degreeviewinputGroupSelect-2">
                        <option disabled selected value> -- select an option -- </option>
                        <option>Computer Science</option>
                        <option>Computer Engineering</option> 
                        <option>Information Technology</option> 
                        <option>Mechanical Engineering</option> 
                        <option>Material Science</option>
                      </select>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="degreeviewinputGroupSelect03">Select Catalog Year</label>
                      </div>
                      <select class="custom-select select2" id="degreeviewinputGroupSelect-3">
                        <option disabled selected value> -- select an option -- </option>
                             <option>2020</option>
                             <option>2019</option> 
                             <option>2018</option> 
                             <option>2017</option> 
                             <option>2016</option>
                      </select>
                    </div>
                    <button type="button" class="btn btn-outline-success btn-block">View Degree</button>
                </form>
            </div>
    </div>
    <div class="row">
      <!-- where results can go -->
      <!---->
      <div class="input-group-prepend">
        <span class="input-group-text" style="padding-right: 2.2em;" id="inputGroup-sizing-default-1">Degree Name</span>
      </div> 
      <!----->
      <div class="page-header text-center">
        <input id="view-degree-name" type="text" readonly class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default-1">
      </div>
      <table>
        <tr>
          <th>Computer Science and Engineering</th>
          <th>Electrical Engineering</th>
          <th>Computer Science and Engineering Core Electives</th>
          <th>Computer Science and Engineering Free Electives</th>
          <th>Computer Science and Engineering Breadth Electives</th>
        </tr>   
        <tr>
          <td>CSCE 1030</td>
          <td>EENG 2710</td>
          <td>CSCE 3530</td>
          <td>CSCE 4890</td>
          <td>Take any 3*** or 4*** level course not already taken</td>
        </tr>
        <tr>
          <td>CSCE 1040</td>
          <td></td>
          <td>CSCE 4115</td>
        </tr>
        <tr>
          <td>CSCE 2100</td>
        </tr>
        <tr>
          <td>CSCE 2110</td>
        </tr>
      </table>

    </div>
</div>

{% endblock %}