{% extends 'base.html' %}

{% block content %}

	<div id="hero-feature" class="hero-video standard bottom">
		<div class="hero-wrapper">
			<video muted="" loop="" autoplay="" poster="https://unt.edu/sites/default/files/bluebonnets_xl.png" id="herovid">
				<source data-mp4="https://unt.edu/sites/default/files/bluebonnets.mp4" type="video/mp4" src="https://unt.edu/sites/default/files/bluebonnets.mp4">
			</video>

			<div class="overlay">
				<div class="content col large-12 mid-center	text-center">
					<h2 class="hero-title">UNT Degree Planning Service</h2>
					<h4 class="hero-message">To start please select Session in the navigation bar above.</h4>
				</div>
			</div>

		</div>
	</div>
	
	<div>
		<h5 class="text-center"> </h5>
	</div>

{% endblock %}